/*************  Reset CSS  **************/
:root{
    --main-font: snas-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247,222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

body h2{
    font-size: 30px;
}

img{
    max-width: 100%;
    height: auto;
}


/*************  Menu de Hamburguesa  **************/

.header{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center  ;
}

.panel{
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--second-modal-color);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s, opacity 0.5s ease;
    /*Desde Abajo*/
    transform: translate(0, 100%);
    /*/*Desde Arriba
    transform: translate(0, -100%);
    /*Desde Izquierda
    transform: translate(-100%, 0);
    /*Desde Derecha
    transform: translate(100%, 0);*/
}

.panel.is-active{
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.panel-btn{
    position: fixed;
    z-index: 1000;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

/* Colocamos un cursor de manito sobre el boton*/
.hamburger--vortex{
    cursor: pointer;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}

/*++++++++++++++ Seccion de Reloj digital y alarma +++++++++++++++++*/

.btn-reloj{
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
}

.btn-reloj:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgb(0, 0, 0);
    filter: drop-shadow(-2px -2px 2px rgb(133, 133, 133));
}

.hidde-btn{
    visibility: hidden;
}

/********************* Eventos del Teclado ***************************/

/* Asignamos el estilo para la caja donde estara moviendose la bola */
.stage{
    display: flex;
    min-height: 50vh; /*Colocamos que sea del 50% del viewport de alto solameten por que no queremos que ocupe toda la pantalla*/
    background-color: var(--second-color);
}

/* Asignamos el estilo para la bola que se movera adentro ponemos de alto y anchoi lo mismo y luego un 50% de radio para que sea haga la bola */
.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);    
}

/********************* Cuenta regresiva ***************************/

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
    filter: drop-shadow(-2px -2px 1px #000);
}

.visible:hover{
    background-color: white;
    color: black;
    filter: drop-shadow(0px 0px 1px #000);

}